 .u-section-1 {
  background-image: url("b41c8de2/6217899/images/2017-lamborghini-aventador-s-5k-wallpape.jpg");
  min-height: 773px;
}

.u-section-1 .u-text-1 {
  margin: 132px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 45px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-image-1 {
  width: 419px;
  height: 193px;
  margin: -44px auto 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 637px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 80px;
    margin-left: calc(((100% - 1140px) / 2) + 86px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 176px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 194px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 276px);
  }
}